anthropic==0.29.0
backoff==2.2.1
numpy==1.26.4
faiss-cpu==1.8.0
openai==1.11.1
python-dotenv==1.0.1
web3==6.15.1
google-cloud-storage==2.14.0
pytest==8.1.1
pytest-cov==4.1.0
pytest-asyncio==0.23.6
groq==0.4.2
e2b_code_interpreter==0.0.5