# "local" or "production"
ENVIRONMENT="local"
OPEN_AI_API_KEY="sk-"

CHAIN_ID=31337
WEB3_RPC_URL="http://127.0.0.1:8545/"
PRIVATE_KEY="0x"
ORACLE_ADDRESS="0x"
ORACLE_ABI_PATH="../arbitrum-contracts/artifacts/contracts/Oracle.sol/Oracle.json"
GCS_BUCKET_NAME="galadriel-assets"
SERPER_API_KEY=""