#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.app-container{
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('../assets/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
