.landing-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url('../../../assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}