# Address of oracle deployed on Galadriel testnet. See https://docs.galadriel.com/oracle-address
ORACLE_ADDRESS="0x..."

# Private key to use for deployment on Galadriel testnet
PRIVATE_KEY_GALADRIEL="0x..."

# Private key to use for deployment on local network
PRIVATE_KEY_LOCALHOST="0x..."
